.container {
  display: inline-flex;
  border: 2px solid red;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  border-radius: 5px;
}
.container input{
  border-radius: 5px;
  margin-top: 5px;
}

.Line {
  padding-left: -40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -39px;
}

.items {
  display: flex;
  margin: 5px;
  height: 30px;
  width: 30px;
  font-size: large;
  background-color: blue;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
