.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  text-align: center;
  font-size: xx-large;
  border-radius: 30px;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  border-color: rgb(1, 1, 20);
  background-color: red;
 
}
.ButtonContainer {
  display: flex;
  column-gap: 30px;

}

.buttons {
  background-color: rgb(64, 187, 40);
  transition: 0.4s;
  column-gap: 10px;
  margin: 5px;
}

.buttons button:hover {
  background-color: aqua;
  transform: translate(2px) scale(1.1);
}
