.Model {
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #7e7474;
}
.content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid red ;
    width: 80%;
}

.close-model-icon{
    cursor: pointer;
    font-size: 24px;
    float: right;
     font-weight: bold;
}
.header{
    padding:4px 16px;
    background-color: #5cb8c5;
    color: wheat;
}
.body{
    padding: 2px 15px;
    height: 200px;
}

.footer{
    padding:2px 16px ;
    background-color:#5cb8c5 ;
    color: wheat;
}

