.background {
  background-color: rgb(187, 255, 0);
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 5rem;
  width: 13rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 1rem;
  font-size: larger;
}

h3{
  background-color: aqua;

}
h2{
  background-color:rgb(172, 172, 119);
}

.content{
  background-color: aquamarine;
}